<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>条件和循环学习</title>
	<link rel="stylesheet" type="text/css" href="./main.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.0/dist/vue.js"></script>	 
	<script src="./data.js"></script>	
		<!-- 引入ElementUI样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<!-- 引入element-ui组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
	<div id="app1">
		<h1>条件和循环练习</h1>
		<input  @click='addOne' type="button" value="添加" name="add"  id="add" />
		<table border="1" cellpadding="10px" cellspacing="0px">
			<tr><th>姓名</th><th>审核状态</th><th>操作</th></tr>
			<tr  @click='deleteOrCheck'  v-for='(item,index) of items' v-show='item.show'  v-bind:data-index='index'><td>{{item.name}}</td><td>{{item.status}}</td><td><button>{{item.operation}}</button></td></tr>
		</table>
	</div>

	<div id="app2">
		<!-- 控制样式练习 -->
		<h1>控制样式练习</h1>
		<div :style="styleObject" @click="styleObject.background=styleObject.background=='red'?'blue':'red'"></div>
	</div>	

	<div id='app3'>
		<!-- 组件通信练习 -->
				<father-component  @show='showSomething' ></father-component>
				<div :style='{color:activeColor}'><strong>我是更高级父组件：</strong><span>{{showText}}</span></div>
			
	 </div>

	<div id="app4">
		<!-- 插槽slot学习 -->
		<h1>插槽slot学习</h1>
		<my-slot></my-slot>
	</div>

	<div id="app5">
		<h2>动画组件transition的应用</h2>
		<ul>
			<li v-for='(item,index) of items1'  :key='index' @click='change' :data-index='index' :class='{transition:item.isActive,li:true}'>{{item.caption}}</li>

		</ul>
		<p>
			<transition name='fade' mode='out-in' >
				<span v-for='(item,index)  of items1' v-if='item.isActive' :key="index">
					{{item.content}}
				</span>
			</transition>
		</p>
	</div>
	<div id="app6">
		 <my-cascader @get-ifo='getIfo' :information='ifo'></my-cascader> 
	</div>

	<div id="app7">
	</div>

	<script  src="./index.js"></script>
</body>
</html>